/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
  font-family: Bebas-Nue;
  src: url(./fonts/BebasNeue-Regular.ttf);
}

:root {
  box-sizing: border-box;
  --background-gray: rgba(218, 218, 218, 0.863);
  --form-background: rgb(230, 230, 230);
  --details-color: rgb(129, 93, 67);
  --border-color: rgba(168, 168, 168, 0.418);
}

body {
  display: flex;
  justify-content: space-between;
  font-family: Bebas-Nue, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-gray);
}

.img-container {
  display: flex;
  position: relative;
}

.img-container > div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.452);
  color: var(--form-background);
  top: 7rem;
  width: 100%;
  height: 8rem;
  font-size: 7rem;
  text-align: center;
  vertical-align: center;
}

img[src] {
  height: 100vh;
}

.left-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  margin: 3rem;
}

.title:first-child {
  font-size: 3.5rem;
  line-height: 3.3rem;
}

.title > h2 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--form-background);
  gap: 2rem;
  padding: 2rem;
  box-shadow: 2px 2px 13px gray;
}

form .first-row,
form .second-row,
form .third-row {
  display: flex;
  justify-content: left;
  margin-left: 1.5rem; 
  gap: 3rem;
}

form label {
  font-size: 1.3rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  background-color: var(--form-background);
  width: 20rem;
  height: 1.7rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin: 0 1rem;
  padding: 0.2rem 0.6rem;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 0px 4px 1px var(--details-color);
}

.radio-container {
  display: flex;
  gap: 2rem;
  margin: 1.5rem;
  margin-bottom: 1rem;
}

.radio-container p,
.radio-container label {
  font-size: 1.5rem;
  vertical-align: 0.1rem;
}

input[type="radio"] {
  appearance: none;
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid gray;
  border-radius: 20px;
  color: var(--details-color);
}

input[type="radio"]::before {
  position: absolute;
  content: "\25CF";
  font-size: 2.2rem;
  right: -0.07rem;
  top: -0.83rem;
  visibility: hidden;
}

input[type="radio"]:checked::before {
  visibility: visible;
}

input[type="checkbox"] {
  accent-color: var(--details-color);
}

.fifth-row {
  margin: 0 1rem;
}

.fifth-row label {
  font-size: 1rem;
}

.sixth-row {
  display: flex;
  align-items: center;
  margin: 1.2rem;
  gap: 3rem;
}

.sixth-row > button {
  background-color: var(--details-color);
  border: none;
  border-radius: 10px;
  width: 13rem;
  height: 3rem;
  color: var(--form-background);
  box-shadow: 2px 2px 3px gray;
  font-size: 1rem;
}

.sixth-row > p {
  font-size: 1.2rem;
}

a {
  color: var(--details-color);
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 1.3rem;
  margin-top: auto;
  padding: 1rem;
}