/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
  font-family: Bebas-Nue;
  src: url(./fonts/BebasNeue-Regular.ttf);
}

:root {
  box-sizing: border-box;
  --background-gray: rgb(228, 228, 228);
  --form-background: rgb(189, 189, 189);
}

body {
  display: flex;
  justify-content: space-between;
  font-family: Bebas-Nue, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-gray);
}

.img-container {
  display: flex;
  position: relative;
}

.img-container > div {
  position: absolute;
}

.left-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  margin: 5rem;
}

.title:first-child {
  font-size: 4rem;
  line-height: 3.8rem;
}

.title > h2 {
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--form-background);
  padding: 2rem;
}

form .first-row,
form .second-row,
form .third-row {
  display: flex;
  justify-content: space-around;
}

form label {
  font-size: 1.5rem;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"] {
  
}